<footer id="footer">
    <div class=" container-fluid">

  <p class="phone">商业合作：021-33882917 <span class="pull-right">information@Zlink.com</span></p>
  <div id=logoft>  
    <img class="logoft" src="img/logo.png" alt="">
    <i class="icon-so fab fa-weixin fa-2x"></i>
    <i class="icon-so far fa-envelope fa-2x"></i>
    <i class="icon-so fas fa-phone-square-alt fa-2x"></i>
  </div>

  <hr>
  <p>© 2019 Zlink AI All Rights Reserved. 纵凌科技</p>


</div>
</footer>



</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/css/styles.css">
  <link
    href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900&display=swap&subset=chinese-simplified"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/b3cd8c7054.js" crossorigin="anonymous"></script>

<script type="text/javascript">

    $(window).on('scroll', function(){
        if($(window).scrollTop()){
            $('nav').addClass('bg-secondary');
        }else{
            $('nav').removeClass('bg-secondary')
        }
    })
    
    </script>



</html>