<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>ZLink|纵凌科技 致力于科技为人服务</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">

    <!-- Nav Bar -->
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand">ZLink AI</p>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">主页</a></li>
          <li id="product"><a href="/product">产品中心</a></li>
          <li id="about"><a href="/about">关于纵凌</a></li>
          <li id="contact"><a href="/contact">联系我们</a></li>
        </ul>

        
        <div class="lang hidden-xs">
          <a class="hover">中</a>
          <a href="/en">EN</a>
        </div>

      </div>


    </nav>

  </head>
  <body>

    <div class="contianer">