<%- include("partials/header"); -%>

<body>


  

        <!-- Nav Bar -->
        <section id="title">
            <div class="container-fluid">
      
          <nav id="nav" class="navbar fixed-top navbar-light navbar-expand-md navbar-light ">
          <a class="navbar-brand" href="/">
            <img src="img/logo.png" class="img-fluid img-responsive">
          </a>
      
          <button id="navbar-toggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">主页 <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/product">产品</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">关于纵凌</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">联系我们</a>
              </li>
              <div class="lang hidden-xs">
                  <button id="cn" class="btn btn-light activecos"><a href="/">中</a></button>
                  <button class="btn btn-light unact"><a href="/en">EN</a></button>
              </div>
            </ul>
            
      </nav>
      </div>
      
      
      </div>
              
      
      
          <!-- header slide -->
          <header class="masthead mastheadct">
            <div class="container-fluid h-100">
              <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                  <h1 class="headerh1">联系我们</h1>
                  <p class="headerh2 lead">合作机会</p>
                  <a href="/contact"><button type="button" class="btn btn-outline-secondary btn-lg green-button">  <i class="far fa-envelope"></i>  更多信息</button></a>
      
                </div>
              </div>
            </div>
          </header>
        </section>
      
      
        
      
      

    
  
   
   




<%- include("partials/footer"); -%>