body {
  font-family: 'Noto Sans SC', sans-serif;
  text-align: center;
}

h1{
  font-size: 5rem;
  font-family: 'Noto Sans SC', sans-serif;
}


p{
  font-size: 28px;
  font-family: 'Noto Sans SC', sans-serif;

}

.green-button{
  background-color: #4EB4A8;
  color:white;
  border: none;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 300px;
  font-size:16px;
}

:hover.green-button{
  opacity: 0.7;
  background-color: #4EB4A8;
  color:white;
  border: none;

}


.padding {
  margin-top: 250px;
  margin-bottom: 250px; 
}


/* navbar */


.navbar-brand {
    padding: 0px;
  }
.navbar-brand>img {
    height: 40px;
    padding: 0px;
    width: auto;
  }

.nav-item{
  padding-left: 35px;
  padding-right:15px;
}

.lang{
  padding-top:8px;
}

.navbar-light .navbar-nav .nav-link{
  color:white;
}

:hover .navbar-light .navbar-nav .nav-link{
  color: black;
}


.nav-link{
    font-size: 16px;
    font-family: 'Noto Sans SC', sans-serif;
}

.masthead {
  height: 700px;
  min-height: 500px;
  background-image: url('../img/header.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.headerh1 {
  color:white;
  font-size:3rem;
}

.headerh2 {
  color:white;
  font-size:1.78rem;
  margin-top:30px;

}


/* vision */

.btn-group-lg>.btn, .btn-lg{
 margin-top: 100px;
}

.visionh2{
  margin-bottom: 50px;
  font-size: 1.78rem;
}

.visionh3{
  margin-top:80px;
  font-size:2rem;
}


.paddingtech{
  padding-left:150px;
  padding-right:150px;

}



.jumbotron-fluid {
    display: flex;
    align-items: center;
}


.carousel-item>img{
    height: 700px;
    width: auto;
} 

#slides2 .carousel-item>img{
    height: 300px;
    width: auto;
} 

