body {
  font-family: 'Noto Sans SC', sans-serif;
  text-align: center;
}

h1{
  font-size: 5rem;
  font-family: 'Noto Sans SC', sans-serif;
}


p{
  font-size: 28px;
  font-family: 'Noto Sans SC', sans-serif;

}

.green-button{
  background-color: #4EB4A8;
  color:white;
  border: none;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 300px;
  font-size:16px;
}

.green-button:hover{
  opacity: 0.7;
  background-color: #4EB4A8;
  color:white;
  border: none;

}

.white-button{
  background-color: white;
  color:#4EB4A8;
  border: none;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 300px;
  font-size:16px;
}

.white-button:hover{
  opacity: 0.7;
  background-color: white;
  color:#4EB4A8;
  border: none;

}

.padding {
  margin-top: 250px;
  margin-bottom: 250px; 
}


/* navbar */
#nav {
  padding:25px;
  height: 50px;
  background: transparent; // Transparent initial setting
  display: block;
  position: fixed;
  width: 100%;
  z-index: 99999;
  transition: all ease .5s;
}

#nav.black{
  background:rgba(0,0,0,0.6);
  height:50px;
  padding:10px;
}
#nav.black ul li a{
  color:#fff;
  line-height:50px;
  }

nav ul li a.active, nav ul li a:hover{
    color:#fff;
    background:#f00;
}

.navbar-brand {
    padding: 0px;
  }
.navbar-brand>img {
    height: 40px;
    width: auto;
  }

.nav-item{
  padding-left: 30px;
  padding-right:30px;
}

.lang{
  padding-top:8px;
  color: black;
}





/* headercover */




.masthead {
  height: 100vh;
  background-image: url('../img/header.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.headerh1 {
  color:white;
  font-size:3rem;
}

.headerh2 {
  color:white;
  font-size:1.78rem;
  margin-top:30px;

}


/* vision */


.visionh2{
  padding-top:30%;
  padding-bottom: 5%;
  font-size: 1.78rem;
  
}

.visionh3{
  font-size:2rem;
}


/* tech */

.tech{
background-color: #4EB4A8;
padding:5%
}

.techh2{
padding:5%;
}

.centertech{
  color:white;
}




.jumbotron-fluid {
    display: flex;
    align-items: center;
}


.carousel-item>img{
    height: 100%;
    width: 100%;
    padding:4% 3%;
    object-fit: contain;
    min-height: 400px;


} 

#slides .carousel-item>img{
    width: 100%;
    padding-bottom: 0px;
    height: 100%; 
    object-fit: contain;

} 

.carousel-caption{
  top: 200px;
}


/* customer */

.customer{
  padding-left:5%;
  padding-right:5%;
  padding-top:15%;
  padding-bottom: 0;
}
.customerpadding{
  padding:1% 15%;
}

.imgpadding{
  padding:0% 0%;
}


.proimg{
  filter: opacity(50%);
  width:80%;
  margin:20px 20px;
  max-width:200px;
 }
.proimg:hover{
  filter: opacity(100%);
}

.cuspadding{
  padding:1% 5%;
}

.cuscenter{
  text-align: center;
}


.tryimg{
  width: 100%;
  height: 275px;
  max-height:300px;
  object-fit: contain;


}
/* 
@media(min-width:900px){
  h1 {font-size:60px;}
} */

/* footer */

#footer {
  margin-top:15%;
padding:7% 15%;
text-align: center;
background-color: black;
}

#footer p{
  font-size: 0.8rem;
color:gray;
}

#footer .phone{
  font-size:1rem;
  color:white;
}
.pull-right{
  float:right !important;
}
.icon-so{
  margin: 10px 10px;
  color:white;
}

.icon-so:hover{
  margin: 10px 10px;
  filter: opacity(80%);
}

.logoft{
  height:auto;
  width:120px;
  padding-bottom: 16px;
  margin-right:20px;
}

#logoft{
  margin-top:60px;
}